.container {
    width: 100%;
    height: 960px;
    background: #141929;
}

h1 {
    color: #fffff0;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.container h1 {
/*    color: #fffff0;*/
    font-size: 40px;
}

.screen {
    width: 600px;
    height: 600px;
    margin: auto;
    border: 2px dotted #2b3b63;
}

#screen {
    background-image: url("asteroids/images/space_bg.gif");
}

#screen2 {
    background-image: url("asteroids/images/warp_speed.gif");
    background-size: cover;
}

#title {
/*    color: #fffff0; */
    font-size: 90px;
    margin-top: 20%;
}

ul {
    text-align: center;
}

button {
    color: #141929;
    background: #e2e2e2;
    border: 1px solid yellow;
    border-radius: 25px;
    font-weight: 40px;
    padding: 5px;
 }

#buttonHow {
    margin-top: 10%;
    font-size: 25px;
}

#buttonStart {
    margin-top: 40px;
    font-size: 40px;
}

article {
    width: 300px;
    height: 150px;
    padding: 30px;
    margin: 0 auto;
    background: #ffffff;
    font-size: 25px;
    text-align: left;
    border-radius: 25px;
}

.off {
    display: none;
}

.bubble {
position: relative;
top: 20px;
left: 20px;
width: 50px;
height: 50px;
animation: ball 15s infinite;
}

@keyframes ball {
    0% {background: red;
        left: 0px; top: 20px;}
    33% {position: absolute;
        top: 570px; left: 570px;}
    67% {position: absolute;
        top: 70px; left: 570px;}
    100% {background: red;
        left: 0px; top: 20px;}
}